@*@model IEnumerable<Project_sem_3.Models.Contract>*@
@model PagedList.IPagedList<Project_sem_3.Models.Contract>
@using PagedList.Mvc

@{
    ViewBag.Title = "Confirmed";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<!-- Custom styles for this page -->
<link href="/Assets/admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<link href="/Areas/Admin/Assets/css/custom.css" rel="stylesheet">
<!-- Main Content -->
<div id="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Contracts Confirmed</h1>
        <div style="margin-bottom:15px;">
            <a href="https://localhost:44362/Admin/Contracts/" class="btn btn-info" role="button">Contracts</a>
            <a href="https://localhost:44362/Admin/Contracts/Deleted" class="btn btn-info float-right" role="button">Contracts Deleted</a>
        </div>
        @*<p class="mb-4"> All contracts of customers about insurances .</p>
            <div class="card-footer">
                <div class="row mt-3">
                    <div class="col-3 mt-2">
                        <div class="form-group mr-3">
                            <select class="form-control mr-2" id="select-action">
                                <option value="6">--Chọn thao tác--</option>
                                <option value="5">Pending</option>
                                <option value="4">Confirmed</option>
                                <option value="3">Shipping</option>
                                <option value="2">Paid</option>
                                <option value="1">Done</option>
                                <option value="0">Cancel</option>
                                <option value="-1">Deleted</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-9">
                        <button type="button" id="action_contract">Xác nhận</button>
                    </div>
                </div>
            </div>*@

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">DataTables Contract</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <form action="/Admin/Contracts/Confirmed/" method="get" id="pagesize">
                                    <div class="dataTables_length" id="dataTable_length">
                                        <label>
                                            Show
                                            @Html.DropDownList("pageSize", null, new { @class = "custom-select custom-select-sm form-control form-control-sm" })
                                            entries
                                        </label>
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div id="dataTable_filter" class="dataTables_filter">
                                    <label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th rowspan="1" colspan="1"><input type="checkbox" id="checkAll" />Select All</th>
                                            <th rowspan="1" colspan="1">Name</th>
                                            <th rowspan="1" colspan="1">CustomerID</th>
                                            <th rowspan="1" colspan="1">Total Price</th>
                                            <th rowspan="1" colspan="1">Created At</th>
                                            @*<th rowspan="1" colspan="1">Updated At</th>*@
                                            <th rowspan="1" colspan="1">Status</th>
                                            <th rowspan="1" colspan="1">Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>


                                        @foreach (var item in Model)
                                        {
                                            <tr role="row" class="odd">
                                                <td>
                                                    <input type="checkbox" class="check" value="@item.Id" />
                                                    @Html.AntiForgeryToken()
                                                </td>

                                                <td class="sorting_1">
                                                    @item.Insurance.Name
                                                </td>
                                                <td>@item.ApplicationUserId</td>
                                                <td>@item.TotalPrice</td>
                                                <td>@item.CreatedAt</td>
                                                @*<td>@item.UpdatedAt</td>*@
                                                <td>@item.Status</td>
                                                <td>
                                                    <button class="btn btn-success">@Html.ActionLink("Confirm", "Edit", new { id = item.Id })</button>
                                                    <button class="btn btn-primary">
                                                        @if (@item.Insurance.Id == 16)
                                                        {
                                                            @Html.RouteLink("Detail", new { action = "Index", controller = "MotorInsurances", Id = item.Id })
                                                        }
                                                        @if (@item.Insurance.Id == 19)
                                                        {
                                                            @Html.RouteLink("Detail", new { action = "Index", controller = "HouseInsurances", Id = item.Id })
                                                        }
                                                    </button>

                                                    <button class="btn btn-danger">@Html.ActionLink("Delete", "Delete", new { id = item.Id })</button>
                                                </td>
                                            </tr>
                                        }


                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</div>
                            </div>
                            <div class="col-sm-12 col-md-4"></div>
                            <div class="col-sm-12 col-md-3">
                                @Html.PagedListPager(Model, page => Url.Action("Confirmed", new { page }),
                               new PagedListRenderOptions()
                               {
                                   LiElementClasses = new List<string> { "text-paging" }
                               })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>
<!-- End of Main Content -->
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            var selectedIDs = new Array();
            $('#checkAll').click(function () {
                $(".check").prop('checked',
                    $(this).prop('checked'));
            })
        })

        $('#action_contract').click(function () {
            var selectedIDs = new Array();
            var action = $('#select-action').val();
            if (action == 6) {
                alert('Please select the action you want to perform!');
                return;
            }
            $('input:checkbox.check').each(function () {
                if ($(this).prop('checked')) {
                    selectedIDs.push($(this).val());
                }
            });
            if (selectedIDs.length <= 0) {
                alert('You have not selected a contract!');
                return;
            }
            $.ajax({
                url: "/Admin/Contracts/StatusOrder",
                type: "POST",
                dataType: "json",
                data: {
                    __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val(),
                    selectedIDs,
                    action
                },
                success: function (res) {
                    if (!res == false) {
                        window.location.href = `/Admin/Contracts`;
                    }
                },
                error: function () {
                    alert('error');
                }
            });
        })
        $(function () {
            $("#pageSize").change(function () {
                $("#pagesize").submit();
            });
        });
    </script>
}


<style>
    .text-paging {
        color: brown;
    }

        .text-paging > a {
            color: black;
        }

    /*.style-sort {
        background: url(https://cdn2.iconfinder.com/data/icons/music-player-icons-filled/57/Double_Arrows-512.png) no-repeat right .75rem center/9px 16px;
        background-position: 64px 64px;
    }*/

    .style-sort > a {
        color: crimson;
    }
</style>
