@model IEnumerable<Project_sem_3.Models.Programme>

@{
    ViewBag.Title = "Order";
}
<style>
    .thumb {
        width: 1300px;
        height: 300px;
        background-color: #3e3e3e;
        background-image: none;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .subslide {
        max-width: fit-content;
        position: relative;
        margin: auto;
    }

    .shadow {
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    }

    .tab-pro {
        font-size: large;
        padding: 0;
        text-align: center;
        background-color: #f0f0f0;
        border-radius: 5px;
    }

    ul {
        list-style-type: none;
    }

    .tab-pro li {
        display: inline-block;
    }

        .tab-pro li.active a {
            background-color: #0b665a;
            color: #fff;
        }

        .tab-pro li a {
            display: inline-block;
            padding: 15px;
            font-family: "HelB";
        }

            .tab-pro li a:hover {
                background-color: #0b665a;
                color: #fff;
            }

    a {
        text-decoration: none;
        transition: all 0.15s ease-in-out;
    }

    .main-content {
        padding-top: 20px;
    }

    .hd-info-pro {
        background-color: #0b665a;
        color: #fff;
        font-family: inherit;
        text-transform: uppercase;
        font-size: 15px;
        padding: 15px;
        border-bottom: solid 1px #fff;
        font-weight: bold;
    }

    .table2 {
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        font: inherit;
        border: 1px solid #D9D9D9;
    }

        table tr {
            border-bottom: 1px solid #D9D9D9;
        }

    .table-donhang thead th {
        border-bottom-width: 1px;
        background-color: #0b665a;
        font-size: 14px;
        color: #fff;
    }

    .table2 td, .table2 th {
        padding: 1.75rem;
        vertical-align: top;
        line-height: 16px;
        font-size: 14px;
        line-height: 1.5;
        border-top: 1px solid #dee2e6;
    }

    .table-donhang td, .table-donhang th {
        background-color: #ececec;
        border: 1px solid #dee2e6;
    }

    .my-1 {
        margin-bottom: .25rem !important;
    }

    .custom-select {
        display: inline-block;
        width: 100%;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        vertical-align: middle;
        /*background: url(https://previews.123rf.com/images/tifani1/tifani11801/tifani1180100316/94060669-set-icon-arrow-up-and-down-.jpg) no-repeat right .75rem center/62px 47px;*/
        background-color: #fff;
        border-radius: .25rem;
        /*-webkit-appearance: none;*/
        font-size: 17px;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem 1.75rem .375rem .75rem;
    }

    .price-pro {
        font-family: unset;
        font-size: 18px;
        color: #3e3e3e;
        font-weight: bold;
    }

    .c5 {
        height: 5px;
        clear: both;
    }

    .mr-top-20 {
        margin-top: 20px;
    }

    .price-sum {
        font-size: 24px;
        color: #ea212d;
        font-family: "fantasy";
    }

    .box-chuy {
        margin-top: 20px;
    }

        .box-chuy .title-box-chuy {
            font-size: 16px;
            font-family: serif;
            text-transform: uppercase;
            padding-bottom: 5px;
            margin-bottom: 20px;
            background-color: #f5f5f5;
            padding: 10px;
            font-weight: bold;
        }

    .icon-bell {
        background: url(https://www.iconsdb.com/icons/preview/red/bell-3-xxl.png) no-repeat left .75rem center/15px 15px;
        padding: 0px 0px 0px 30px;
    }

    .cotent-box-chuy {
        font-size: 14px;
        line-height: 22px;
        padding-left: 10px;
    }

        .cotent-box-chuy > div {
            margin-bottom: 7px;
        }

    .cotent-text {
        background: url(https://baohiemtructuyen.com.vn/images/sub_menu_bullet.png) no-repeat 0 11px;
        padding: 7px 0 5px 15px;
    }

    .btn-pro-buynow {
        display: block;
        width: 100%;
        background-color: #0b665a;
        padding: 11px;
        padding-bottom: 14px;
        padding-left: 0px;
        padding-right: 0px;
        border-radius: 5px;
        color: #fff;
        font-family: "Helb";
        text-align: center;
        margin-top: 5px;
        border: none;
        font-size: large;
    }

        .btn-pro-buynow:hover {
            background-color: #ea212d;
            color: #fff;
        }

    input {
        max-width: 100%;
    }

    .result {
        background-color: #f7f7f7;
    }

        .result .item-result {
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: solid 1px #c8c8c8;
            padding-left: 15px;
            padding-right: 15px;
        }

            .result .item-result span {
                display: block;
                font-size: 14px;
                color: #7c7c7c;
            }

    .result-red {
        background-color: #ea212d;
        color: #fff;
        font-family: "Helb";
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 0px;
        padding-right: 0px;
        font-size: large;
    }

        .result-red strong {
            font-weight: normal;
            font-size: 20px;
        }



    .product-card .item-content .btn-learn-more {
        position: absolute;
        bottom: 20px;
        width: calc(100% - 40px);
    }

    .shadow {
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    }

    *, :after, :before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .box-border-pro {
        position: relative;
        background: #fff;
        border: 1px solid #e4e4e4;
        padding: 25px;
    }

    .tab-pro {
        font-size: large;
        padding: 0;
        text-align: center;
        background-color: #f0f0f0;
        border-radius: 5px;
    }

    .benefit-item.benefit-item-description-table {
        font-size: 16px;
    }

    .benefit-item .benefit-item-main {
        position: relative;
        background: #fff;
    }

    .benefit-item .benefit-icon {
        width: 50px;
        height: 50px;
        background: #ed1b2e;
        color: #fff;
        text-align: center;
        position: absolute;
        top: -25px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        transform: translateX(-50%);
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        z-index: 10;
    }

        .benefit-item .benefit-icon i {
            position: relative;
            top: 11px;
        }

    .laces-checkbox {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        font-size: 1.2rem;
        line-height: 1.8rem;
        text-align: center;
        border: 1px solid #999;
        border-radius: 0.3rem;
    }

    .icon-benefit-shield {
        width: 27px;
        height: 28px;
        background-position: 0 -770px;
    }

    .icon-benefit {
        background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pngitem.com%2Fmiddle%2FmxRJbm_motorcycle-gap-cover-icon-bike-insurance-icon-png%2F&psig=AOvVaw2Wm29PAOOxFCc96L2YPndS&ust=1584883624783000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCOCUouvVq-gCFQAAAAAdAAAAABAJ);
    }

    .icon {
        display: inline-block;
    }

    .benefit-item .benefit-image {
        position: relative;
        height: 130px;
    }

    .full-cover {
        display: block;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
    }

    .benefit-item .benefit-name-wrapper {
        width: 100%;
    }

    .v-middle {
        display: block;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .benefit-item .benefit-name {
        font-size: 24px;
        line-height: 28px;
        color: #fff;
        text-align: center;
    }

    .app-checkbox input:checked, .app-checkbox input:not(:checked) {
        position: absolute;
        left: -9999px;
    }

    input[type=checkbox], input[type=radio] {
        margin: 4px 0 0;
        margin-top: 1px\9;
        line-height: normal;
    }

    input[type=checkbox], input[type=radio] {
        box-sizing: border-box;
        padding: 0;
    }

    .app-checkbox input:checked + label, .app-checkbox input:not(:checked) + label {
        position: relative;
        cursor: pointer;
        padding-left: 35px;
    }

    label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 700;
    }

    .app-checkbox input:checked + label, .app-checkbox input:not(:checked) + label {
        position: relative;
        cursor: pointer;
        padding-left: 35px;
    }

    .benefit-item.benefit-item-description-table .benefit-body {
        padding: 0;
        overflow: hidden;
    }

    .benefit-item .benefit-body {
        height: 190px;
        text-align: center;
        padding: 40px 50px 0;
        -webkit-box-shadow: 0 0 20px rgba(0,0,0,.1);
        -moz-box-shadow: 0 0 20px rgba(0,0,0,.1);
        box-shadow: 0 0 20px rgba(0,0,0,.1);
    }

    .benefit-item.benefit-item-description-table .benefit-description-table .item {
        padding: 14px 0;
        font-size: 14px;
        line-height: 20px;
    }

    .row {
        margin-left: -15px;
        margin-right: -15px;
    }

    .benefit-item.benefit-item-description-table .benefit-description-table .item-name {
        text-align: right;
    }

    .benefit-item.benefit-item-description-table .benefit-description-table .table-head .item-name span, .benefit-item.benefit-item-description-table .benefit-description-table .table-head .item-value span {
        background: #b8e986;
        padding: 3px;
    }

    .benefit-item.benefit-item-description-table .benefit-description-table .item-value {
        text-align: left;
    }

    .benefit-item.benefit-item-description-table .benefit-description-table .item {
        padding: 14px 0;
        font-size: 14px;
        line-height: 20px;
    }

    .benefit-item.benefit-item-description-table .benefit-description-table .item-name {
        text-align: right;
    }

    .app-checkbox input:checked + label:before, .app-checkbox input:not(:checked) + label:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 24px;
        height: 24px;
        background: #fff;
        border: 2px solid grey;
    }

    app-checkbox input:checked + label, .app-checkbox input:not(:checked) + label {
        position: relative;
        cursor: pointer;
        padding-left: 35px;
    }

    label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 700;
    }

    .app-checkbox input:checked, .app-checkbox input:not(:checked) {
        position: absolute;
        left: 23px;
        background-color: white;
        top: -4px;
    }

    .tab-pro li.active a {
        background-color: #0b665a;
        display: inline-block;
        color: #fff;
        padding: 15px;
    }

    .tab-pro li a {
        display: inline-block;
        padding: 15px;
    }

        .tab-pro li a:hover {
            background-color: #0b665a;
            color: #fff;
        }

    .tab-pro li {
        display: inline-block;
    }

    label {
        display: inline;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 300;
    }

    #ctl18_fullname {
        width: 60%
    }

    #ctl18_txtAddress {
        width: 70%;
        height: 124px
    }

    #ctl18_plates {
        width: 67%
    }

    #ctl18_ChassisNumber {
        width: 67%
    }

    #datepicker {
        width: 55%
    }

    .mb-15 {
        margin-bottom: 15px;
    }

    .hd-info-pro {
        background-color: #337ab7;
        color: #fff;
        font-family: inherit;
        text-transform: uppercase;
        font-size: 15px;
        padding: 15px;
        border-bottom: solid 1px #fff
    }

    .tab-pane.active {
        display: block;
        margin-bottom: 42px;
    }

    .tab-pane {
        display: none;
        opacity: 1;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .list-header {
        border-bottom-width: 1px;
        background-color: #0b665a;
        font-size: 14px;
        color: #fff;
        padding: .75rem;
        font-weight: bold;
        border: solid 1px #fff;
    }

    .box-border-pro {
        position: relative;
        background: #fff;
        border: 1px solid #e4e4e4;
        padding: 25px;
    }

    .frmpro {
        width: 100%;
        color: #3e3e3e;
    }

    .frm .custom-control-label {
        font-size: 16px;
        line-height: 24px;
        margin-top: 10px;
    }

    .frm .custom-control-input:checked ~ .custom-control-label::before {
        background-color: #0b665a;
        border-color: #0b665a;
    }

    .frmpro .col-form-label {
        line-height: 1.7em;
        font-size: 18px;
        color: #3e3e3e;
    }

    .col-form-label-first {
        text-align: left;
    }

    .frmpro i {
        font-size: 12px;
        line-height: normal !important;
    }

    .pad-top-5 {
        display: block;
        padding-top: 5px;
    }

    .btn-pro {
        background-color: #ea212d;
        padding: 12px;
        padding-left: 0;
        padding-right: 0;
        border: none;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        color: #fff;
        font-weight: 700;
        width: 100%;
        transition: all 0.15s ease-in-out;
        font-size: large;
    }

    .btn-pro-buynow {
        display: block;
        width: 100%;
        background-color: #0f75bd;
        padding: 11px;
        padding-bottom: 14px;
        padding-left: 0px;
        padding-right: 0px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        color: #fff;
        font-family: "Helb";
        text-align: center;
        margin-top: 5px;
        border: none;
        font-size: large;
    }

    .banner {
        width: 100%;
        height: 600px;
        background-image: url(https://www.masseyins.com/wp-content/uploads/2019/03/Motorcycle-miniature-model-figure-on-passport-1024x682.jpeg);
        background-position: center center;
        background-size: cover;
    }

    input[type=radio] {
        border: 1px solid gray;
        padding: 0.5em;
        -webkit-appearance: none;
    }

        input[type=radio]:checked {
            background: url(data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==) no-repeat center center;
            background-size: 9px 9px;
        }

        input[type=radio]:focus {
            outline-color: transparent;
        }


    .m-0 {
        margin: 0 !important;
    }

    .btn-pro-buynow:hover {
        background-color: #ea212d;
        color: #fff;
    }

    .btn-pro:hover {
        background-color: #0b665a;
        color: #fff;
    }

    .frmpro .txt {
        padding: .375rem .75rem;
    }

    .frm .txt {
        padding: 14px;
        border: solid 2px #c8c8c8;
    }

    .frm .form-control {
        height: calc(3em + 0.75rem + 4px);
    }

    .icondate {
        position: absolute;
        right: 385px;
        top: 13px;
        background-image: url("https://baohiemtructuyen.com.vn/images/icon/cal.png");
        background-repeat: no-repeat;
        width: 26px;
        height: 26px;
    }


    *, :after, :before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .result {
        background-color: #f7f7f7;
    }

        .result .item-result {
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: solid 1px #c8c8c8;
            padding-left: 15px;
            padding-right: 15px;
        }

            .result .item-result span {
                display: block;
                font-size: 14px;
                color: #7c7c7c;
            }

    .result-red {
        background-color: #ea212d;
        color: #fff;
        font-family: "Helb";
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 0px;
        padding-right: 0px;
        font-size: large;
    }

        .result-red strong {
            font-weight: normal;
            font-size: 20px;
        }

    .error {
        color: red;
        font-size: 13px
    }
</style>
<section>
    <div class="banner">

    </div>

</section>
@*<section>
        <div class="subslide shadow">
            <div class="thumb" style="background-image: url(https://humanhealth.com.hk/en/service/detail/32/upload/service/32/self/5c108ff960152.jpg)"></div>
        </div>
    </section>*@
@*<div class="container">
        <ul class="tab-pro">
            <li class="nav-item "><a href="#">Information</a></li>
            <li class="nav-item active"><a href="#">Order</a></li>
            <li class="nav-item "><a href="#">Log in</a></li>
            <li class="nav-item "><a href="#">Delivery & payment</a></li>
        </ul>
    </div>*@
<section class="main-content">
    <div class="container2" style="margin:auto">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="container" style="margin-bottom:45px">
                    <div _ngcontent-c5="" class="row">
                        @foreach (var item in ViewBag.insurancepackages)
                        {
                            <div _ngcontent-c5="" class="col-md-6" style="margin-top:30px">
                                <div _ngcontent-c5="" class="benefit-item benefit-item-description-table">
                                    <div _ngcontent-c5="" class="benefit-item-main">
                                        <div _ngcontent-c5="" class="benefit-icon">
                                            <i _ngcontent-c5="" class="icon icon-benefit icon-benefit-shield"></i>
                                        </div>
                                        <div _ngcontent-c5="" class="benefit-image full-cover" style="background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.37) 0%, rgba(0, 0, 0, 0.22) 100%),
 url('https://cdn.hsbc.com.vn/content/dam/hsbc/hbvn/images/21-9/HSBC_MCI_1240X400.jpg')">
                                            <div _ngcontent-c5="" class="benefit-name-wrapper v-middle">
                                                <h2 _ngcontent-c5="" class="benefit-name">
                                                    <div _ngcontent-c5="" class="app-checkbox agree-with-term">
                                                        <label for="muhRadio4"><input type="radio" class="@item.Price" PackageName="@item.Name" id='rdbPackage_1' value='@item.Id' name="insurancePackageId" /></label>                                                           @*<input _ngcontent-c5="" id="choose1" name="choose1" type="checkbox"> <label _ngcontent-c5="" for="choose1">*@
                                                        <span _ngcontent-c5="" class="checkout-term">@item.Name</span>

                                                    </div>
                                                </h2>
                                            </div>
                                        </div>
                                        <div _ngcontent-c5="" class="benefit-body">
                                            <div _ngcontent-c5="" class="benefit-description-table">
                                                <div _ngcontent-c5="" class="table-head">
                                                    <div _ngcontent-c5="" class="row item">
                                                        <div _ngcontent-c5="" class="col-xs-4">
                                                            <p _ngcontent-c5="" class="item-name">
                                                                <span _ngcontent-c5="">
                                                                    Description
                                                                </span>
                                                            </p>
                                                        </div>
                                                        <div _ngcontent-c5="" class="col-xs-8">
                                                            <p _ngcontent-c5="" class="item-value" style="color: black;">

                                                                <span _ngcontent-c5="" style="font-weight: bold;background: white;">@Html.Raw(HttpUtility.HtmlDecode(item.Description))</span>
                                                            </p>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div _ngcontent-c5="" class="table-head">
                                                    <div _ngcontent-c5="" class="row item">
                                                        <div _ngcontent-c5="" class="col-xs-4">
                                                            <p _ngcontent-c5="" class="item-name">
                                                                <span _ngcontent-c5="">Charges</span>
                                                            </p>
                                                        </div>
                                                        <div _ngcontent-c5="" class="col-xs-8">
                                                            <p _ngcontent-c5="" class="item-value">
                                                                <span _ngcontent-c5="" style="font-weight: bold;background: white;">$@item.Price/year</span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        }
                    </div>


                    <div style="margin-top:6%" class="hd-info-pro">ENTER THE INSURED'S INFORMATION TO CHARGE</div>
                    <input class="price_packageInsurance" value=" @ViewBag.Price" type="hidden" />

                    <div id="ctl18_DivOption2">
                        <table class="table2 table table-bordered table-hover table-donhang table-responsive-lg" style="width:100%">
                            <thead>
                                <tr>

                                    @*<th class="text-center align-middle" style="width:5%" scope="col">No.</th>*@
                                    <th class="text-center align-middle" scope="col">Date of birth</th>
                                    <th class="text-center align-middle" scope="col">Programme</th>
                                    <th class="text-center align-middle" scope="col">Name</th>
                                    <th class="text-center align-middle" scope="col">Address</th>
                                    <th class="text-center align-middle" scope="col">Gender</th>
                                    <th class="text-center align-middle" scope="col">Price</th>

                                </tr>
                            </thead>
                            <tbody>
                                @Html.AntiForgeryToken()

                                <tr class="tr">
                                    <td class="align-middle pos-re">
                                        <input name="dateofbirth " type="datetime" class="dateofbirth form-control txt birthDay2" readonly="readonly"  style="background-color:none!important"/>
                                    </td>
                                    <td class="align-middle">
                                        <select name="programme" class="custom-select program-selecter" id="program-selecter-1" onchange="CalPHAPremium(1)">
                                            <option value="0">Choose a program</option>";
                                        </select>
                                    </td>
                                    <td class="align-middle">
                                        <input type="text" name="Name" class="Name form-control" value="" />
                                    </td>
                                    
                                    <td class="align-middle">
                                        <input type="text" name="PhoneNumber" class="Address form-control" value="" />
                                    </td>
                                    <td class="align-middle">
                                        <div class="form-group">
                                            <select class="form-control Gender" name="Gender" id="sel1">
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                            </select>
                                        </div>                                    
                                    </td>
                                    <td class="text-center align-middle">
                                        <div class="price-pro"><div name="ctl18$rptPHA1$ctl00$txtPremium_" type="text" value="0" id="displayprice-1" class="total form-control txt text-right" </div>$</div>
                                    </td>
                                </tr>

                            </tbody>
                            <th colspan="8" style="cursor:pointer;padding:0" class="text-center " id="click">
                                <span id="validation" style="   margin-top: 8px; margin-left: 1%; float: left; color: red;width: 15%;"></span><img src="https://cdn2.iconfinder.com/data/icons/thin-line-color-1/21/42_1-512.png" id="img" style="    margin-right: 16%;" width="40px" height="40px" alt="plus" />
                            </th>


                        </table>

                        <i>
                            (Date of birth in correct format: day / month / year, age: enter age from 1 to 65 years old)
                        </i>
                        <div class="c5"></div>
                        <i>(Maternity extension is only applicable to customers from 19 to 45 years of age and participating in the Premium Plus package) </i>
                        <div class="c5"></div>
                    </div>
                </div>
                <div class="text-center mr-top-20">
                    <strong>Total net charge (VAT exempt):</strong>
                    <p class="price-sum"><span id="ctl18_lblTotalPremiumPaid"></span>$ 0 </p>

                </div>
                <div class="grand_total">
                    <div class="form_text">
                        <strong class="fee"></strong><span id="ctl18_spancoupon"></span>
                    </div>
                </div>
                <div class="form_button  container ">
                    <div class="form_button  container ">
                        <div class="col-6">
                            <input type="submit" name="ctl18$btnContinue" onclick="getdata()" value="Continue" class="btn-pro-buynow hvr-forward " />

                        </div>

                    </div>
                </div>
                <div class="box-chuy">
                    <div class="title-box-chuy"><i class="icon-bell" aria-hidden="true"></i> TUTORIAL: </div>
                    <div class="cotent-box-chuy">
                        <div><i class="cotent-text"></i> You enter "Date of birth" of each insured, select "Insurance Program", choose "Dental Expansion", select "Expand maternity" for each insured.</div>

                        <div><i class="cotent-text"></i> You enter in turn and accurate information for each participant, then you will see the total premiums of each person and the total premium of the group. </div>
                        <div><i class="cotent-text"></i> After entering the correct and sufficient information, you press the [Continue] button to move to the next order.</div>
                    </div>
                </div>

            </div>
            @*<div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="hd-info-pro">INSURANCE FEES</div>
                    <div class="result">
                        <div class="item-result">
                            <span>Total fee (including VAT):</span>
                            <strong><label for="ctl18_lblTotalPremiumIcludeVAT" class="price-sum">0 VNĐ</label></strong>
                        </div>
                        <div id="ctl18_Promotions1_pnPromotions">


                            <div class="item-result">
                                <span>Discount amount:</span>
                                <strong><label for="ctl18_Promotions1_lblPromotionsPercent" id="ctl18_Promotions1_lblPromotionsPercent">0 VNĐ</label></strong>
                            </div>
                            <div class="result-red">
                                <div>Total net charge (including VAT) actually collected:</div>
                                <strong><label for="ctl18_Promotions1_lblHasToPayPremium" class="total">0 VNĐ</label></strong>
                            </div>
                            <a id="ctl18_lbtBook" class="btn-pro-buynow" href="javascript:__doPostBack('ctl18$lbtBook','')">Order</a>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
</section>


@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        document.getElementsByClassName("dateofbirth").disabled = true;

        $('input[type=datetime]').datepicker({
            dateFormat: 'yy-mm-dd',
            changeMonth: true,
            changeYear: true,
            autoclose: true,

            onSelect: function (date) {
                var dob = new Date(date);
                var today = new Date();

                if (dob.getFullYear() + 1 < today.getFullYear()) {
                    $("#validation").hide();
                    $("#img").css("margin-right", "5%")


                }
                else {
                    $('input[type=datetime]').val(null);
                    $("#validation").text("* Must be older than 1 year old")
                    $("#img").css("margin-right", "21%")
                }
            }
        })


        var totalprice;
        function CalPHAPremium(i) {
            radio = $('input:radio[name=insurancePackageId]:checked').val();
            if (radio == null) {
                $("#validation").text("* Please select Insurancepackage")
                $("#img").css("margin-right", "21%")
                $("#validation").show()

            }
            else {
                var insuranpackageId = $('input[name="insurancePackageId"]:checked').attr("class");
                var price_programme = $('#program-selecter-' + i).children('option:selected').attr("class");
                var TotalPrice = parseInt(insuranpackageId) + parseInt(price_programme);
                $('#displayprice-' + i).text('$' + TotalPrice.toString());
                var sum = 0;
                $('.total').each(function () {
                    sum += +$(this).text().replace("$", "") || 0;
                });
                $(".price-sum").text('$' + sum);
                totalprice = sum
            }


            // if radio hv checked


        }




        $('#ctl18_lbtBook').click(function () {
            $.ajax({
                url: "/Contract/CreateContract",
                type: "POST",
                dataType: "json",
                data: {
                    __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val(),
                    contract
                },
                success: function (res) {
                    alert(1)
                },
                error: function () {
                    alert('error');
                }
            });
        })
        function deleted(i) {
            var pricedelete = $('#displayprice-' + i).text().replace("$","")
            totalprice = totalprice - parseInt(pricedelete)
             $(".price-sum").text('$' + totalprice);
             $(`#trid-${i}`).remove();

        }



        var price;
        var insuranpakge;
        var insuranpackageName
        $('input[name="insurancePackageId"]')
            .change(function () {
                if ($(this).is(":checked")) {
                    insuranpakge = $(this).val()
                    price = $(this).attr("class");
                    $("#validation").hide();
                    $("#img").css("margin-right", "5%")
                    var LengthTr = $(".program-selecter").length
                    insuranpackageName = $(this).attr("PackageName");


                }
            });
        var objects = {

            'items': []
        };
        var prices = [];
        var genders = [];
        var selectprogram = [];
        var dateofbirths = [];
        var names = [];
        var programnemname = [];
        var address = [];
        function getdata() {
            var check = false;
            var insuranpackageId = $('input[name="insurancePackageId"]:checked').attr("class");
            $.each($(".program-selecter option:selected"), function () {
                if ($(this).val() == '') {
                    console.log("err")
                    return check;
                }
                else {
                    check = true
                    selectprogram.push($(this).val());
                    var unitprice = parseInt($(this).attr("class")) + parseInt(insuranpackageId)
                    prices.push(unitprice);
                    programnemname.push($(this).text());
                }
            });

           
            $(".Address").each(function () {
                if ($(this).val() == '') {
                    console.log("err")
                    return check;
                }
                else {
                    check = true

                    address.push($(this).val());
                }
            });

            $(".Name").each(function () {
                if ($(this).val() == '') {
                    console.log("err")
                    return check;
                }
                else {
                    check = true

                    names.push($(this).val());
                }
            });

            $.each($(".Gender option:selected"), function () {
                if ($(this).val() == '') {
                    console.log("err")
                    return check;
                }
                else {
                    check = true
                    genders.push($(this).val());
                   
                }
            });
            $(".dateofbirth").each(function () {
                dateofbirths.push($(this).val());
            });

            objects['Totalprice'] = totalprice;
            objects['packageName'] = insuranpackageName;

            var LengthTr = $(".program-selecter").length
            for (var i = 0; i < LengthTr; i++) {

                var item =
                {
                    'insuranpackageName': insuranpackageName,
                    'InsurancePackageId': insuranpakge,
                    'programname': programnemname[i],
                    'unitprice': prices[i],
                    'DateOfbirth': dateofbirths[i],
                    'Programmeid': selectprogram[i],
                    'Name': names[i],
                    'Gender': genders[i],
                    'Address': address[i],
                };


                objects.items.push(item)
            }

            if (typeof (Storage) !== "undefined") {
                for (var i = 0; i < LengthTr; i++) {
                    if (
                        typeof names[i] !== 'undefined' && names[i] != ""
                        && typeof selectprogram[i] !== 'undefined' && selectprogram[i] != ""
                        && typeof dateofbirths[i] !== 'undefined' && dateofbirths[i] != ""
                        && typeof genders[i] !== 'undefined' && genders[i] != ""
                        && typeof address[i] !== 'undefined' && address[i] != ""
                    ) {
                        sessionStorage.setItem('medical', JSON.stringify(objects));
                        window.location.href = "/Contract/Index"
                    } else {
                        $("#validation").text("* Please enter full information")
                        $("#img").css("margin-right", "21%")
                        $("#validation").show()
                        break;
                    }

                    if (insuranpakge == "undefined" || insuranpakge == null) {
                        $("#validation").text("* Please enter full insurance")
                        $("#img").css("margin-right", "21%")
                        $("#validation").show()
                    }

                }

            }


        }



    </script>








    <script>

        $("#click").click(function () {
            var LengthTr = $(".program-selecter").length

            if (LengthTr >= 5) {
                $("#click").setEnabled(false);
                $("#click").setClickable(false);


            }
            var index = $("table tr").length

            var html = `<tr id="trid-${index}" class="tr">
                                                                                                                                                                                        <td class="align-middle pos-re">
                                                                                                                                                                                                <input name="dateofbirth" type="datetime" class="dateofbirth form-control txt birthDay2" onblur="CalPHAPremium();" />
                                                                                                                                                                                               </td>
                                                                                                                                                                                        <td class="align-middle">
                                                                                                                                                                                        <select name="programme" class="custom-select program-selecter form-control" id="program-selecter-${index}"onchange="CalPHAPremium(${index})" >
                                                                                                                                                                                        </select>
                                                                                                                                                                                        </td>
                                                                                                                                                                                         <td class="align-middle">
                                                                                                                                                                                                                        <input type="text" name="Name" class="Name form-control" value="" />
                                                                                                                                                                                                                    </td>
                                                                                                                                                                                                                  
                                                                                                                                                        <td class="align-middle">
                                                                                                                                                                                        <input type="text" name="PhoneNumber" class="Address form-control" value="" />
                                                                                                                                                                                    </td>
                                                                                                                                                                                                                    <td class="align-middle">
                                        <div class="form-group">
                                            <select class="form-control Gender" name"Gender" id="sel1">
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                            </select>
                                        </div>                                    
                                    </td>                                                                                                                                                                                                                    </td>
                                                                                                                                                                                                                    <td class="text-center align-middle">
                                                                                                                                                                                                                        <div class="price-pro"><div name="ctl18$rptPHA1$ctl00$txtPremium_" type="text" value="0" id="displayprice-${index}" class="total form-control txt text-right" </div></div>
                                                                                                                                                                                                            </td >
                                                                                                                                                                                                                        <td> <button style="color:red ; text-align:center;background: red; border: none;height: 5px; width: 20px;}" onclick="deleted(${index})"></button></td>
                                                                                                                                                                                                                       <tr/>`
            $(".table2").append(html)

            getprogramme(index)
            $('input[type=datetime]').datepicker({
                dateFormat: 'yy-mm-dd',
                changeMonth: true,
                changeYear: true,
                autoclose: true

                /*other options goes here...*/
            })

        })

       

        $(document).ready(function () {
            $.getJSON("/MedicalInsurance/ViewProgramme",
                function (data) {
                    //Append each row to html table
                    $.each(data.programme, function (key, value) {

                        $('.program-selecter').append($('<option>', {
                            value: value.Id,
                            text: value.Name,
                            class: value.Price,


                        }));

                    })
                });
        })

        function getprogramme(i) {
            $.getJSON("/MedicalInsurance/ViewProgramme",
                function (data) {
                    var htmlContentSelecter = " <option value='0'>Choose a program</option> "
                    console.log(data)
                    //Append each row to html table
                    $.each(data.programme, function (key, value) {
                        htmlContentSelecter += `<option class="${value.Price}" value="${value.Id}">${value.Name}</option>`
                        //$('.program-selecter').append($('<option>', {
                        //    value: value.Id,
                        //    text: value.Name,
                        //    class: value.Price,


                        //   }));

                    })
                    $(`#program-selecter-${i}`).html(htmlContentSelecter)

                });
        }

    </script>

}




<style>

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
   background-color: white !important;
}
    a {
        text-decoration: none;
        transition: all 0.15s ease-in-out;
    }

    .main-content {
        padding-top: 20px;
    }

    .hd-info-pro {
        background-color: #0f75bd;
        color: #fff;
        font-family: inherit;
        text-transform: uppercase;
        font-size: 15px;
        padding: 15px;
        border-bottom: solid 1px #ddd;
        font-weight: bold;
    }

    .table2 {
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        font: inherit;
        border: 1px solid #D9D9D9;
    }

        table tr {
            border-bottom: 1px solid #D9D9D9;
        }

    .table-donhang thead th {
        border-bottom-width: 1px;
        background-color: #0f75bd;
        font-size: 14px;
        color: #fff;
    }

    .table2 td, .table2 th {
        padding: 1.75rem;
        vertical-align: top;
        line-height: 16px;
        font-size: 14px;
        line-height: 1.5;
        border-top: 1px solid #dee2e6;
    }

    .table-donhang td, .table-donhang th {
        background-color: #ececec;
        border: 1px solid #dee2e6;
    }

    .my-1 {
        margin-bottom: .25rem !important;
    }

    .custom-select {
        display: inline-block;
        width: 100%;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        vertical-align: middle;
        /*background: url(https://previews.123rf.com/images/tifani1/tifani11801/tifani1180100316/94060669-set-icon-arrow-up-and-down-.jpg) no-repeat right .75rem center/62px 47px;*/
        background-color: #fff;
        border-radius: .25rem;
        /*-webkit-appearance: none;*/
        font-size: 17px;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem 1.75rem .375rem .75rem;
    }

    .price-pro {
        font-family: unset;
        font-size: 18px;
        color: #3e3e3e;
        font-weight: bold;
    }

    .c5 {
        height: 5px;
        clear: both;
    }

    .mr-top-20 {
        margin-top: 20px;
    }

    .price-sum {
        font-size: 32px;
        color: #ea212d;
        font-family: "fantasy";
        margin-top:33px
    }

    .box-chuy {
        margin-top: 20px;
    }

        .box-chuy .title-box-chuy {
            font-size: 16px;
            font-family: serif;
            text-transform: uppercase;
            padding-bottom: 5px;
            margin-bottom: 20px;
            background-color: #f5f5f5;
            padding: 10px;
            font-weight: bold;
        }

    .icon-bell {
        background: url(https://www.iconsdb.com/icons/preview/red/bell-3-xxl.png) no-repeat left .75rem center/15px 15px;
        padding: 0px 0px 0px 30px;
    }

    .cotent-box-chuy {
        font-size: 14px;
        line-height: 22px;
        padding-left: 10px;
    }

        .cotent-box-chuy > div {
            margin-bottom: 7px;
        }

    .cotent-text {
        background: url(https://baohiemtructuyen.com.vn/images/sub_menu_bullet.png) no-repeat 0 11px;
        padding: 7px 0 5px 15px;
    }

    .btn-pro-buynow {
        display: block;
        width: 100%;
        background-color: #0f75bd;
        padding: 11px;
        padding-bottom: 14px;
        padding-left: 0px;
        padding-right: 0px;
        border-radius: 5px;
        color: #fff;
        font-family: "Helb";
        text-align: center;
        margin-top: 5px;
        border: none;
        font-size: large;
    }

        .btn-pro-buynow:hover {
            background-color: #ea212d;
            color: #fff;
        }

    .banner {
        width: 100%;
        height: 600px;
        background-image: url(https://api.visitjeju.net/editorStore/file/201911/28/3c6fb3fc-4b5c-4fd7-b924-10d45da3e22b.jpg);
        background-position: center center;
        background-size: cover;
        max-width: 100%;
    }

    .result {
        background-color: #f7f7f7;
    }

        .result .item-result {
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: solid 1px #c8c8c8;
            padding-left: 15px;
            padding-right: 15px;
        }

            .result .item-result span {
                display: block;
                font-size: 14px;
                color: #7c7c7c;
            }

    .result-red {
        background-color: #ea212d;
        color: #fff;
        font-family: "Helb";
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 0px;
        padding-right: 0px;
        font-size: large;
    }

        .result-red strong {
            font-weight: normal;
            font-size: 20px;
        }
</style>



