@model IEnumerable<Project_sem_3.Models.InsurancePackage>
@using Project_sem_3.Models
@{
 
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cart = ViewBag.shoppingCart as MotorShopingCart;
    var stt = 1;
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}



<section>
    <div class="banner">
        
    </div>

</section>


<div class="container1" style="margin-left:10%;margin-right:10%;margin-top:7% ;margin-bottom:7%">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 ">
                    <div class="hd-info-pro">LIST OF ORDERED CARS</div>
                    <div class="tab-content">
                        <div id="tab1" class="tab-pane active ">
                            <div class="col-lg-12 col-md-12 col-sm-12 d-none d-md-block">
                                <div class="row">
                                    <table class="table">
                                        <thead class="thead-dark">
                                            <tr>

                                                <th scope="col">
                                                    MotorOwner

                                                </th>
                                                <th scope="col">Address on vehicle registration</th>
                                                <th scope="col">LicensePlate</th>
                                                <th scope="col">ChassisNumber</th>
                                                <th scope="col">Duration of insurance</th>
                                                <th scope="col">Delete</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in cart.GetCartItems())
                                            {



                                                <tr>
                                                    <td>@item.Value.CarOwner</td>
                                                    <td>@item.Value.RegisteredAddress</td>
                                                    <td>@item.Value.LicensePlate</td>
                                                    <td>@item.Value.ChassisNumber</td>
                                                    <td>@item.Value.Duration</td>
                                                </tr>

                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <form action="/MotorInsurance/AddCart" method="get">
                    <div class="col-lg-9 col-md-8 col-sm-12">
                        <div class="box-border-pro">
                            <div class="frm frmpro">
                                <div class="form-group">
                                    <div class="row">
                                        <label for="rdbPackage_0" class="col-lg-4 col-sm-12 col-form-label col-form-label-first">Select product package</label>
                                        <div class="col-lg-8">
                                            @foreach (var item in Model)
                                            {
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" class="@item.Price" id='rdbPackage_1' value='@item.Id' onclick="PackageChange();" name="insurancePackageId" required />
                                                    <label class="custom-control-label" for='rdbPackage_1'><b>@String.Format("{0:c}", @item.Price) </b> @item.Description</label>
                                                </div>
                                            }

                                            <i class="pad-top-5">
                                                <span id="ctl18_lblPackageReq" class="req" style="color:Red;"></span>
                                            </i>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h4>Enter the information on the vehicle registration</h4>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label for="fullname" class="col-lg-4 col-sm-12 col-form-label col-form-label-first">Vehicle owner name:</label>
                                        <div class="col-lg-8">
                                            <input  name="CarOwner" type="text" id="ctl18_fullname" class="form-control txt" placeholder="Vehicle owner name" />
                                            <i class="pad-top-5">
                                                <span id="ctl18_lblInsuredReq" class="req" style="color:Red;"></span>
                                            </i>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label for="txtAddress" class="col-lg-4 col-sm-12 col-form-label col-form-label-first">Address on vehicle registration:</label>
                                        <div class="col-lg-8">
                                            <textarea name="RegisteredAddress" type="text" id="ctl18_txtAddress" class="form-control txt" placeholder="Address on vehicle registration" ></textarea>
                                            <i class="pad-top-5">
                                                <span id="ctl18_lblAddressReq" class="req" style="color:Red;"></span>
                                            </i>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" id="divPlate" style="display: block;">
                                    <div class="row">
                                        <label for="plates" class="col-lg-4 col-sm-12 col-form-label col-form-label-first">LicensePlate:</label>
                                        <div class="col-lg-8">
                                            <input   name="LicensePlate" type="text" id="ctl18_plates" class="form-control txt" placeholder="LicensePlate" />
                                            <i class="pad-top-5">
                                                <span id="ctl18_lblPlatesReq" class="req" style="color:Red;"></span>
                                            </i>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" id="divChassis">
                                    <div class="row">
                                        <label for="ChassisNumber" class="col-lg-4 col-sm-12 col-form-label col-form-label-first">ChassisNumber:</label>
                                        <div class="col-lg-8">
                                            <input name="ChassisNumber" type="text" id="ctl18_ChassisNumber" class="form-control txt" placeholder="Chassis Number" />
                                            <i class="pad-top-5">
                                                <span id="ctl18_lblChassisNumberReq" class="req" style="color:Red;"></span>
                                            </i>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="quantity" value="1" />


                                <div class="form-group">
                                    <div class="row">
                                        <label for="txtFromDate" class="col-lg-4 col-sm-12 col-form-label col-form-label-first pad-0">Duration of insurance :</label>
                                        <div class="col-lg-8">

                                            <input type="datetime" id="datepicker" class="form-control txt start-date " name="Duration" placeholder="Duration of insurance" onchange="fromdate_change();" />

                                            <div class="icondate"></div>
                                            <i class="pad-top-5">01 year from the date on and after the time of fee payment</i>
                                            <i class="pad-top-5"><span id="ctl18_lblFromDateReq" class="req" style="color:Red;"></span></i>
                                            <i class="pad-top-5"><span id="ctl18_lblFromDate" class="req" style="color:Red;"></span></i>

                                        </div>
                                    </div>
                                </div>
                                <div class="text-center mb-15">
                                    <label>Would you like to order another car?</label>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label for="txtbks" class="col-lg-4 col-sm-12 col-form-label col-form-label-first hide-md">&nbsp;</label>
                                        <div class="col-lg-8">
                                            <div id="ctl18_divBuyanOther" class="row">
                                                <div class="col-sm-6" style="padding-right:5px">
                                                    <input type="submit" name="ctl18$btnYes" value="Yes" id="ctl18_btnYes" class="btn-pro btn" />
                                                </div>
                                                <div class="col-sm-6" style="padding-left:5px">
                                                    <input type="submit" style="height: 45px;" name="ctl18$btnNo" value="No" id="ctl18_btnNo" class="btn-pro-buynow m-0" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="hd-info-pro">INSURANCE FEES</div>
                    <div class="result">
                        <div class="item-result">
                            <span>Total fee (including VAT):</span>
                            <strong><label for="ctl18_lblTotalPremiumIcludeVAT" id="ctl18_lblTotalPremiumIcludeVAT">$0</label></strong>
                        </div>
                        <div id="ctl18_Promotions1_pnPromotions">


                            <div class="item-result">
                                <span>Discount amount:</span>
                                <strong><label for="ctl18_Promotions1_lblPromotionsPercent" id="ctl18_Promotions1_lblPromotionsPercent">$0</label></strong>
                            </div>
                            <div class="result-red">
                                <div>Total net charge (including VAT) actually collected:</div>

                                <strong><label class=" @cart.GetTotalPrice()" for="ctl18_Promotions1_lblHasToPayPremium" id="ctl18_Promotions1_lblHasToPayPremium">@String.Format("{0:c}", @cart.GetTotalPrice())</label></strong>
                            </div>
                            <a id="ctl18_lbtBook" style="text-decoration:none" class="btn-pro-buynow" href="/MotorInsurance/CreateContract">Order</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .thumb {
        width: 1300px;
        height: 300px;
        background-color: #3e3e3e;
        background-image: none;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .subslide {
        max-width: fit-content;
        position: relative;
        margin: auto;
    }

    .shadow {
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    }

    .box-border-pro {
        position: relative;
        background: #fff;
        border: 1px solid #e4e4e4;
        padding: 25px;
    }

    .tab-pro {
        font-size: large;
        padding: 0;
        text-align: center;
        background-color: #f0f0f0;
        border-radius: 5px;
    }

        .tab-pro li.active a {
            background-color: #0b665a;
            display: inline-block;
            color: #fff;
            padding: 15px;
        }

        .tab-pro li a {
            display: inline-block;
            padding: 15px;
        }

            .tab-pro li a:hover {
                background-color: #0b665a;
                color: #fff;
            }

        .tab-pro li {
            display: inline-block;
        }

    label {
        display: inline;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 300;
    }
    #ctl18_fullname{
        width:60%
    }
    #ctl18_txtAddress{
        width:70%;
        height:124px
        
    }
    #ctl18_plates{
        width:67%
    }
    #ctl18_ChassisNumber{
         width:67%
    }
    #datepicker{
        width:55%
    }
    .mb-15 {
        margin-bottom: 15px;
    }

    .hd-info-pro {
        background-color: #337ab7;
        color: #fff;
        font-family: inherit;
        text-transform: uppercase;
        font-size: 15px;
        padding: 15px;
        border-bottom: solid 1px #fff
    }

    .tab-pane.active {
        display: block;
        margin-bottom: 42px;
    }

    .tab-pane {
        display: none;
        opacity: 1;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .list-header {
        border-bottom-width: 1px;
        background-color: #0b665a;
        font-size: 14px;
        color: #fff;
        padding: .75rem;
        font-weight: bold;
        border: solid 1px #fff;
    }

    .box-border-pro {
        position: relative;
        background: #fff;
        border: 1px solid #e4e4e4;
        padding: 25px;
    }

    .frmpro {
        width: 100%;
        color: #3e3e3e;
    }

    .frm .custom-control-label {
        font-size: 16px;
        line-height: 24px;
        margin-top: 10px;
    }

    .frm .custom-control-input:checked ~ .custom-control-label::before {
        background-color: #0b665a;
        border-color: #0b665a;
    }

    .frmpro .col-form-label {
        line-height: 1.7em;
        font-size: 18px;
        color: #3e3e3e;
    }

    .col-form-label-first {
        text-align: right;
    }

    .frmpro i {
        font-size: 12px;
        line-height: normal !important;
    }

    .pad-top-5 {
        display: block;
        padding-top: 5px;
    }

    .btn-pro {
        background-color: #ea212d;
        padding: 12px;
        padding-left: 0;
        padding-right: 0;
        border: none;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        color: #fff;
        font-weight: 700;
        width: 100%;
        transition: all 0.15s ease-in-out;
        font-size: large;
    }

    .btn-pro-buynow {
        display: block;
        width: 100%;
        background-color: #0f75bd;
        padding: 11px;
        padding-bottom: 14px;
        padding-left: 0px;
        padding-right: 0px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        color: #fff;
        font-family: "Helb";
        text-align: center;
        margin-top: 5px;
        border: none;
        font-size: large;
    }
    .banner {
  width: 100%;
  height: 600px;
  background-image: url(https://www.masseyins.com/wp-content/uploads/2019/03/Motorcycle-miniature-model-figure-on-passport-1024x682.jpeg);
  background-position: center center;
  background-size: cover;
}
    .m-0 {
        margin: 0 !important;
    }

    .btn-pro-buynow:hover {
        background-color: #ea212d;
        color: #fff;
    }

    .btn-pro:hover {
        background-color: #0b665a;
        color: #fff;
    }

    .frmpro .txt {
        padding: .375rem .75rem;
    }

    .frm .txt {
        padding: 14px;
        border: solid 2px #c8c8c8;
    }

    .frm .form-control {
        height: calc(3em + 0.75rem + 4px);

    }

    .icondate {
        position: absolute;
          right: 385px;
    top: 13px;
        background-image: url("https://baohiemtructuyen.com.vn/images/icon/cal.png");
        background-repeat: no-repeat;
        width: 26px;
        height: 26px;
    }

    .result {
        background-color: #f7f7f7;
    }

        .result .item-result {
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: solid 1px #c8c8c8;
            padding-left: 15px;
            padding-right: 15px;
        }

            .result .item-result span {
                display: block;
                font-size: 14px;
                color: #7c7c7c;
            }

    .result-red {
        background-color: #ea212d;
        color: #fff;
        font-family: "Helb";
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 0px;
        padding-right: 0px;
        font-size: large;
    }

        .result-red strong {
            font-weight: normal;
            font-size: 20px;
        }
</style>
@section Scripts {



    <script type="text/javascript">

        $('input[type=datetime]').datepicker({
            dateFormat: "dd/M/yy",
            changeMonth: true,
            changeYear: true,
            yearRange: "-60:+0"
        });


        $("input[name=insurancePackageId]") // select the radio by its id
            .change(function () { // bind a function to the change event
                if ($(this).is(":checked")) { // check if the radio is checked
                    var val = $(this).attr("class"); // retrieve the value
                    var valint = parseInt(val)
                    var tt = $('#ctl18_Promotions1_lblHasToPayPremium').attr('class')
                    var tint = parseInt(tt)
                    var t = valint + tint
                    var ttt = t.toLocaleString('en-US', { style: 'currency', currency: 'USD' });

                    $('#ctl18_Promotions1_lblHasToPayPremium').text(ttt)
                }
            });
    </script>

}
