@model IEnumerable<Project_sem_3.Models.MotorInsurance>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Contract.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InsurancePackage.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarOwner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegisteredAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LicensePlate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChassisNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Contract.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InsurancePackage.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarOwner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegisteredAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LicensePlate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChassisNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ContractId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ContractId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ContractId })
        </td>
    </tr>
}

</table>
