@model Project_sem_3.Models.InsurancePackage

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<h4>InsurancePackage</h4>          
<hr />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Insurance.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DurationContract)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DurationPay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeleteAt)
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.Insurance.Name)
        </td>
        <td>
            @Html.DisplayFor(model => model.Name)
        </td>
        <td>
            @Html.DisplayFor(model => model.Description)
        </td>
        <td>
            @Html.DisplayFor(model => model.Price)
        </td>
        <td>
            @Html.DisplayFor(model => model.DurationContract)
        </td>
        <td>
            @Html.DisplayFor(model => model.DurationPay)
        </td>
        <td>
            @Html.DisplayFor(model => model.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(model => model.UpdatedAt)
        </td>
        <td>
            @Html.DisplayFor(model => model.DeleteAt)
        </td>
    </tr>
</table>   
<p>
    <button class="btn btn-warning">@Html.ActionLink("Edit", "Edit", new { id = Model.Id })</button>  
    <button class="btn btn-info">@Html.ActionLink("Back to List", "Index")</button>
</p>
@*<div class="container">
            <dl class="dl-horizontal">
                <div class="form-group">
                    <div class="row">
                        <label>@Html.DisplayNameFor(model => model.Insurance.Name) :</label>
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.Insurance.Name)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label>@Html.DisplayNameFor(model => model.Name) :</label>
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.Name)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label>@Html.DisplayNameFor(model => model.Description) :</label>
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.Description)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label>@Html.DisplayNameFor(model => model.Price) :</label>
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.Price)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label>@Html.DisplayNameFor(model => model.DurationContract) :</label>
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.DurationContract)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label>@Html.DisplayNameFor(model => model.DurationPay) :</label>
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.DurationPay)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label>@Html.DisplayNameFor(model => model.CreatedAt) :</label>
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.CreatedAt)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label>@Html.DisplayNameFor(model => model.UpdatedAt) :</label>
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.UpdatedAt)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label>@Html.DisplayNameFor(model => model.DeleteAt) :</label>
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.DeleteAt)
                        </div>
                    </div>
                </div>
            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>*@
