@*@model IEnumerable<Project_sem_3.Models.InsurancePackage>*@
@model PagedList.IPagedList<Project_sem_3.Models.InsurancePackage>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Custom styles for this page -->
<link href="/Assets/admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<link href="/Areas/Admin/Assets/css/custom.css" rel="stylesheet">
<!-- Main Content -->
<div id="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Insurance Package</h1>
        <p class="mb-4"> All contracts of customers about insurances .</p>

        @*<button type="button" id="delete_checked">Delete Selected</button>*@
        <div style="margin-bottom:15px;">
            <a href="https://localhost:44362/Admin/InsurancePackages/Create" class="btn btn-info" role="button">Create Insurance Packages</a>

        </div>


        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">List Insurances Package</h6>
            </div>
            <div class="card-body">
                <div>
                    <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="col-md-4 col-12 mt-2">
                            <div class="form-group mr-3">
                                <form action="/Admin/InsurancePackages/" method="get" id="listPackage">
                                    <div class="dataTables_length" id="dataTable_length">
                                        <label>
                                            List Status
                                            @Html.DropDownList("listPackage", null, new { @class = "custom-select custom-select-sm form-control form-control-sm" })
                                        </label>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <form action="/Admin/InsurancePackages/" method="get" id="pagesize">
                                    <div class="dataTables_length" id="dataTable_length">
                                        <label>
                                            Show
                                            @Html.DropDownList("pageSize", null, new { @class = "custom-select custom-select-sm form-control form-control-sm" })
                                            entries
                                        </label>
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <form action="/Admin/InsurancePackages/" method="get">
                                    <div id="dataTable_filter" class="dataTables_filter">
                                        <label>Search:<input type="text" id="SearchString" name="SearchString" class="form-control form-control-sm" placeholder="" aria-controls="dataTable" value="" onkeypress="handle(e)"></label>
                                    </div>
                                </form>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">

                                <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                    <thead>


                                        <tr>
                                            <th rowspan="1" colspan="1"><input type="checkbox" id="checkAll_InsurancePackage" />Select All</th>
                                            <th rowspan="1" colspan="1">Insurance Name</th>
                                            <th rowspan="1" colspan="1" class="style-sort">@Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, listPackage = Request.QueryString["listPackage"] })</th>
                                            <th rowspan="1" colspan="1">Description</th>
                                            <th rowspan="1" colspan="1" class="style-sort">@Html.ActionLink("Price", "Index", new { sortOrder = ViewBag.PriceSortParm, listPackage = Request.QueryString["listPackage"] })</th>
                                            <th rowspan="1" colspan="1">DurationContract</th>
                                            <th rowspan="1" colspan="1">DurationPay</th>


                                            <th rowspan="1" colspan="1" class="style-sort">@Html.ActionLink("CreatedAt", "Index", new { sortOrder = ViewBag.DateSortParm, listPackage = Request.QueryString["listPackage"] })</th>



                                            <th rowspan="1" colspan="1">Action</th>
                                        </tr>

                                    </thead>

                                    <tbody>

                                        @foreach (var item in Model)
                                        {

                                            <tr role="row" class="odd">
                                                <td>
                                                    <input type="checkbox" class="check" value="@item.Id" />
                                                    @Html.AntiForgeryToken()
                                                </td>
                                                <td class="sorting_1">
                                                    @item.Insurance.Name
                                                </td>
                                                <td>@item.Name</td>
                                                <td>@Html.Raw(HttpUtility.HtmlDecode(item.Description))</td>
                                                <td>$@item.Price</td>
                                                <td>@item.DurationContract year</td>

                                                <td>$@item.DurationPay /year</td>


                                                <td>@item.CreatedAt.ToString("dd-MM-yyyy")</td>

                                                <td>
                                                    <div class="btn-group">
                                                        <button class="btn btn-success">@Html.ActionLink("Edit", "Edit", new { id = item.Id })</button>
                                                        <button class="btn btn-primary">@Html.ActionLink("Details", "Details", new { id = item.Id })</button>
                                                        <button class="btn btn-danger">@Html.ActionLink("Delete", "Delete", new { id = item.Id })</button>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <div class="card-footer">
                                    <div class="row mt-3">
                                        <div class="col-3 mt-2">
                                            <div class="form-group mr-3">
                                                <select class="form-control mr-2" id="select-action">
                                                    <option value="6">--Chọn thao tác--</option>
                                                    <option value="1">Active Return</option>
                                                    <option value="-1">Deleted</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-9">
                                            <button type="button" class="btn btn-success" style="margin-top: 8px;" id="action_contract">Confirm</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</div>
                            </div>
                            <div class="col-sm-12 col-md-3"></div>
                            <div class="col-sm-12 col-md-4">
                                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = ViewBag.psize, listPackage = Request.QueryString["listPackage"] }),
                               new PagedListRenderOptions()
                               {
                                   LiElementClasses = new List<string> { "text-paging" }
                               })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#checkAll_InsurancePackage').click(function () {
                $(".check").prop('checked',
                    $(this).prop('checked'));
            })

            $('#action_contract').click(function () {
                var selectedIDs = new Array();
                var action = $('#select-action').val();
                if (action == 6) {
                    alert('Please select the action you want to perform!');
                    return;
                }
                $('input:checkbox.check').each(function () {
                    if ($(this).prop('checked')) {
                        selectedIDs.push($(this).val());
                    }
                });
                if (selectedIDs.length <= 0) {
                    alert('You have not selected insurance package !');
                    return;
                }
                if (confirm("Do you want to delete?")) {
                    changeStatusPTTime(selectedIDs, action);
                }
            });
            function changeStatusPTTime(selectedIDs, action) {
                $.ajax({
                    url: "/Admin/InsurancePackages/DeleteAll",
                    type: "POST",
                    dataType: "json",
                    data: {
                        __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val(),
                        selectedIDs,
                        action
                    },
                    success: function (res) {
                        if (!res == false) {
                            window.location.reload();
                        }
                    },
                    error: function () {
                        alert('error');
                    }
                });
            }
            function handle(e) {
                if (e.keyCode === 13) {
                    e.preventDefault();
                }
            }

            $(function () {
                $("#pageSize").change(function () {
                    $("#pagesize").submit();
                });
            });
            $(function () {
                $("#pageSize").change(function (ev, page, pageSize) {
                    var page = $('page').val();
                    var pageSize = $('select#pageSize option:checked').val();
                    var listPackage = $('select#listPackage option:checked').val();
                    window.location.href = window.location.href.split('?')[0] + '?listPackage=' + listPackage + '&page=' + page + '&pageSize=' + pageSize;
                });
            });
            $(function () {
                $("#listPackage").change(function () {
                    $("#listPackage").submit();
                });
            });
        });
    </script>
}

<style>
    .text-paging {
        color: brown;
    }

        .text-paging > a {
            color: black;
        }

    /*.style-sort {
                                                            background: url(https://cdn2.iconfinder.com/data/icons/music-player-icons-filled/57/Double_Arrows-512.png) no-repeat right .75rem center/9px 16px;
                                                            background-position: 64px 64px;
                                                        }*/

    .style-sort > a {
        color: crimson;
    }
</style>